<h1>Admin::Dashboard#show</h1>

<h2>Product Count</h2>
<h6>There are currenty <%= @product_count %> items in the database.</h6>

<h2>Category Count</h2>
<h6>There are currently <%= @category_count %> categories for users to browse.</h6>
